@model IEnumerable<FrontMVC.Models.Mesa.MesaModel>

@{
    ViewData["Title"] = "Index";
    
}

<p>
    <a asp-action="Adicionar">Cadastrar Mesa</a>
</p>
<table class="table">
    <thead>
        <tr>       
           
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>             
                                
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambiente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusMesa)
                </td>
                <td>
                   
                    @{var x= item.Ocupada ? "Desocupar" : "Ocupar";}
                    @Html.ActionLink("Alterar", "Alterar", new { id=item.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new {  id=item.Id}) |
                    @if (item.StatusMesa ==FrontMVC.Models.Enuns.StatusMesa.Disponivel){
                        @Html.ActionLink( @x,"OcuparMesa", new {  id=item.Id})
                        
                    }else{ 
                        @Html.Label("Mesa Indisponivel")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
