@model IEnumerable<FrontMVC.Models.Mesa.MesaModel>

@{
    ViewData["Title"] = "Index";

}

<p>
    <a asp-action="Adicionar">Cadastrar Mesa</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambiente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusMesa)
                </td>
                <td>

                    @{
                        var x = item.Ocupada ? "Desocupar" : "Ocupar";
                    }
                    <a asp-action="Alterar" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                        <i class="fa-solid fa-pen fa-xl" style="color: #264d92;"></i>
                    </a>
                    <a data-toggle="modal" data-target="#detailsModalMesa" data-descricao="@item.Descricao" data-qtlugares="@item.Lugares"
                   data-ambiente="@item.Ambiente" data-status="@item.StatusMesa" data-ocupada="@item.Ocupada" data-clientenome="@item.Clientes?.Nome"
                   data-clientecpf="@item.Clientes?.CPF"
                   class="btn btn-sm btn-default">
                        <i class="fa-solid fa-circle-info fa-xl" style="color: #264d92;"></i>
                    </a>
                    @if (item.StatusMesa == FrontMVC.Models.Enuns.StatusMesa.Reservado || item.StatusMesa == FrontMVC.Models.Enuns.StatusMesa.Indisponivel)
                    {
                        @Html.Label("Mesa Indisponivel")
                    }
                    else if (!item.Ocupada)
                    {
                        @Html.ActionLink( @x,"OcuparMesa", new {  id=item.Id})

                    }

                    else
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                        data-id="@item.Id" data-status="@item.Ocupada" data-action="Mesa/DesocuparMesa"
                        data-title="desocupar mesa">
                            Deseocupar
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
        <script>
            $(function () {
                var message = '@TempData["MsgAlert"]'
                if (message.includes("Sucesso"))
                    alertify.success(message);
                else if (message != '')
                    alertify.error(message);
            });
        </script>
}