@model FrontMVC.Models.Prato.PratoModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container" align="center">
    
    <div class="col-md-6">
        <div>
            <h1>Deletar Prato</h1>

            <h3>Deseja deletar este prato?</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <hr />
            <dl class="row" align="center">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Foto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Valor)
                </dd>
            </dl>
            <form asp-action="Delete" method="post">
                <label asp-for="Id" class="control-label" hidden="hidden">@Html.DisplayNameFor(model => model.Id)</label>
                <button type="submit" class="btn btn-danger">Deletar</button> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
