@model IEnumerable<FrontMVC.Models.Prato.PratoModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container" align="center">
    <h1>Index</h1>
    <p>
        <a asp-action="Adicionar">Adicionar</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    Ativar/Desativar
                </th>
                <th>
                    Ação
                </th>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Id)
                    <td>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Jpg)" width="100" height="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @if (item.Status)
                        {
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                            data-id="@item.Id" data-status="@item.Status" data-action="Prato/InativarPrato"
                            data-title="inativar prato">
                                Desativar
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#exampleModal" data-id="@item.Id" data-status="@item.Status" data-action="Prato/AtivarPrato"
                            data-title="ativar prato">
                                Ativar
                            </button>
                        }
                    </td>

                    <td>
                        <a data-toggle="modal" data-target="#exampleModal" data-id="@item.Id" data-action="Prato/Delete"
                       data-title="deletar prato" class="btn btn-sm btn-default">
                            <i class="fa-solid fa-trash fa-xl" style="color: #d73737;"></i>
                        </a>

                        <a asp-action="Alterar" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                            <i class="fa-solid fa-pen fa-xl" style="color: #264d92;"></i>
                        </a>
                        <a data-toggle="modal" data-target="#detailsModal" data-descricao="@item.Descricao" data-valor="@item.Valor"
                       data-title="Detalhes" data-sts="@($"{item.Status}".ToLower())" data-foto="@item.Foto"
                       class="btn btn-sm btn-default">
                            <i class="fa-solid fa-circle-info fa-xl" style="color: #264d92;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(function () {
            var message = '@TempData["MsgAlert"]'
            if (message.includes("Sucesso"))
                alertify.success(message);
            else if (message != '')
                alertify.error(message);
        });
    </script>s
}