@model IEnumerable<FrontMVC.Models.Prato.PratoModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container" align="center">
    <h1>Index</h1>
    <p>
        <a asp-action="Adicionar">Adicionar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    Ativar/Desativar
                </th>
                <th>
                    Ação
                </th>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Id)
                    <td>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Jpg)" width="100" height="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @if (item.Status)
                        {
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModal" data-id="@item.Id" data-status="@item.Status" data-action="Prato/InativarPrato"
                            data-title="inativar prato">
                                Desativar
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#exampleModal" data-id="@item.Id" data-status="@item.Status" data-action="Prato/AtivarPrato"
                            data-title="ativar prato">
                                Ativar
                            </button>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModal" data-id="@item.Id" data-action="Prato/Delete"
                            data-title="deletar prato">
                            Deletar
                        </button>
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Alterar",  new {id = item.Id}) |
                        @Html.ActionLink("Adicionar", "Adicionar", new { /* id=item.PrimaryKey */ }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>