@model IEnumerable<FrontMVC.Models.Log.LogModel>

@{
    ViewData["Title"] = "Index";
}

<div class="boxWhite" align="center">
    <h1>Log's</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Tabela)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Funcionario)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Acao)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IdTabela)
                </th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Tabela)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Funcionario)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Acao)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdTabela)
                    </td>
                    <td class="text-center">
                        @*@Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }) |*@
                        <a data-toggle="modal" data-target="#detailsModalLog" data-tabela="@item.Tabela" 
                            data-funcionario="@item.Funcionario" data-acao="@item.Acao" 
                            data-codTabela="@item.IdTabela" class="btn btn-sm btn-default">
                            <i class="fa-solid fa-circle-info fa-xl" style="color: #264d92;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
